$color-accent: #DDDCC8
$color-background: $color-accent

$font-salome: "Salome", serif
$font-salome-fine: "Salome Fine Italic", serif
$font-delight: "Delight", sans-serif

$heading-font-family: $font-delight
$body-font-family: $heading-font-family

$h1-font-family: $font-salome-fine
$h2-font-family: $font-salome-fine
$h3-font-family: $font-salome-fine
$h5-font-family: $font-salome-fine
$h5-text-transform: none
$lead-font-family: $font-salome

$body-background-color: $color-accent
$header-background: $color-accent
$header-border-bottom-width: 0
$header-logo-height: 80px
$header-logo-height-desktop: 200px
$header-sticky-enabled: false
$hero-background-color: none
$footer-background-color: none

$block-space-y: pxToRem(128)
$block-space-y-desktop: pxToRem(256)